<header class="app-header">
  <div class="logo-container">
    <!-- Placeholder for logo images - Requires combining downloaded assets -->
    <img src="assets/icons/logo_vector_1.svg" alt="Logo part 1" class="logo-part">
    <img src="assets/icons/divider.svg" alt="Divider" class="divider">
    <img src="assets/icons/logo_vector_2.svg" alt="Logo part 2" class="logo-part">
    <img src="assets/icons/divider.svg" alt="Divider" class="divider">
    <img src="assets/icons/logo_vector_3.svg" alt="Logo part 3" class="logo-part">
    <!-- Complex logo assembly might need more precise SVG/CSS work -->
  </div>
  <div class="divider"></div>
  <div class="title">Read aloud | Q1/3</div>
</header>
