.main-content {
  padding-top: 64px; // Height of the toolbar
  min-height: calc(100vh - 64px);
  box-sizing: border-box;
  background-color: #FAFAFA;
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
    
    @media (max-width: 599px) {
      padding: 16px;
    }
  }
  
  @media (max-width: 599px) {
    padding-top: 56px; // Mobile toolbar height
    min-height: calc(100vh - 56px);
  }
}

:host {
  display: block;
  height: 100vh;
  overflow-y: auto;
}
