/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to bottom right, #3F50C3, #1C2969); /* Approximate gradient from Figma */
  color: #292830; /* Default text color from Figma */
  min-height: 100vh;
} 